#navigation-bar {
    background-color: aliceblue;
}

#navigation-bar a {
    color: black;
    font-family: "Anton";
}

#navigation-bar li-hover {
    background-color: red;
}

#navigation-bar .dropdown-menu a:hover{
    color: black;
}

#navigation-bar .nav a {
    font-size: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background-color: aliceblue;
 }
 footer{
    background: black;
    height: auto;
    width: 100vw;
    font-family: "Open sans";
    padding-top: 40px;
    color: aliceblue;
 }
 .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    text-align: center;
 }

.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
    max-width: 500;
    margin: 10px;
    line-height: 20px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: antiquewhite;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover {
    color: rosybrown;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4p;
    font-weight: 200;
}